---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>Jamstackin</h1>
    <div class="vibe">Vibin...</Vibin></div>
    <div class="love"></div>
</div>
<script src="/js/vibe.js"></script>